body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img/FundoClaro.png);
    background-size: 50px 50px;
    color: #333;
    overflow-x: hidden;
}

html, body {
    width: 100vw;
    height: 100vh;
}

header .logo {
    display:inline;
    margin: 0px -400px 0px 0px;
}

header {
    background-image: url(img/FundoEscuro.png);
    background-size: 50px 50px;
    background-position: center;
    color: #be0000;
    padding: 0px 0px;
    margin: 0px;
    position: fixed;
    width: 100%;
    height: -100%;
    top: -10px;
    z-index: 1000;
}

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration-line: underline;
        color: whitesmoke;
        margin: 0px 1px;
    }

header h1 {
    margin: 0;
    font-size: 48px;
    align-self:initial;
}

header nav ul {
    margin: 0px -800px;
    padding: 0px;
    display: flex;
    color: whitesmoke;
}

 header nav ul li {
        margin: 0 15px;
        color: whitesmoke;
        font-size:25px;
 }

header nav ul li a {
    color: whitesmoke;
    margin: 0px 90px;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s;
    font-size: 25px
}

header nav ul li a:hover {
    color: red;
}

#hero {
    background-image: url(img/SalaRaio.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100% 130%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

#historia {
    background-image: url(img/FundoHistoria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: purple;
    position: relative;

}

#historia::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 0;
}

#historia .container {
    position: relative;
    z-index: 1;
}

#historia h2{
    font-size: 48px;
    margin: 0;
    color:whitesmoke;

}

#historia p {
    font-size: 24px;
    margin: 20px 0;
    color: white;
}

#hero .container {
    position: relative;
    z-index: 1;
}

#hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 0;

}

#hero h2 {
    font-size: 48px;
    margin: 0;
    color: white;
}

  #hero p {
        font-size: 24px;
        margin: 20px 0;
        color: white;
 }

    #hero .btn {
        background: red;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        transition: background 0.3s;
    }

#hero .btn:hover {
    background: darkred;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    padding: 60px 0;
}

#about, #Missao, #Visao {
    background-image: url(img/FundoEscuro.png);
    background-size: 30px 30px;
    margin: 20px 350px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    justify-content:center;
}

#contact {
    background-image: url(img/FundoEscuro.png);
    background-size: 30px 30px;
    margin: 20px 350px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: whitesmoke;
    font-size: 20px;
    align-self:center;
    align-content:center;
    align-items:center;
}

#Valores {
    background-image: url(img/FundoEscuro.png);
    background-size: 30px 30px;
    margin: 20px 350px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
}

#Valores ul li {
    list-style-type:none;
    text-decoration:underline;

}

#contact  h2 {
   font-size: 35px;
}

#Missao  h2 {
   font-size: 35px;
}

#Visao  h2 {
   font-size: 35px;
}

#Valores  h2 {
   font-size: 45px;
}

#games .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    color: whitesmoke;
    align-items: center;
}

#games .game {
    background: #3f0873;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex-basis: 30%;
    text-align: center;
    color: darkgoldenrod;
}

#games {
    color: whitesmoke;
    align-self: flex-start;
    text-align: center;
}

#games .game img {
    width: 100%;
    height: auto;
}

#games .game h3 {
    margin: 15px 0;
    font-size: 20px;
    color: white;
}

#games h2 {
    margin: 15px 0;
    font-size: 40px;
    color:whitesmoke;
    background-image: url(img/FundoEscuro.png);
    background-size: 50px 50px;
}

#games .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    color:whitesmoke;
    align-items:center;
}

#games .game {
    background-image: url(img/FundoEscuro.png);
    background-size: 30px 30px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex-basis: 30%;
    text-align: center;
    color: whitesmoke;
}

#integrantes {
    color: whitesmoke;
    text-align: center;
}

#integrantes .dev img {
    width: 100%;
    height: auto;
}

#integrantes .dev h3 {
    margin: 15px 0;
    font-size: 20px;
    color: whitesmoke;
}

#integrantes .dev h2 {
    margin: 15px 0;
    font-size: 30px;
    color: whitesmoke;
}

#integrantes h2 {
    margin: 15px 0;
    font-size: 40px;
    color:whitesmoke;
    background-image: url(img/FundoEscuro.png);
    background-size: 50px 50px;
}

#integrantes .Fotos {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
    color: whitesmoke;
    align-items: center;
}

#integrantes .dev {
    background-image: url(img/FundoEscuro.png);
    background-size: 30px 30px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex-basis: 40%;
    text-align: center;
    color: whitesmoke;
}

#integrantes .dev h2 {
    font-size: 27px;
}




form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
    font-weight: 700;
}

    form input, form textarea, form button {
        padding: 10px;
        margin: 5px 0 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        color: whitesmoke;
        background-color: #330169;
    }

    form button {
        background: whitesmoke;
        color: black;
        border: none;
        cursor: pointer;
        transition: background 0.3s;
    }

form button:hover {
    background: darkred;
}

footer {
    background-image: url(img/FundoEscuro.png);
    background-size: 50px 50px;
    background-position: center;
    color: whitesmoke;
    text-align: center;
    padding: 20px 0;
    position: center;
}

footer .container {
    display: flex;
}

footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

footer nav ul li {
    margin: 0 15px;
}

